<div class="container">

    <div class="form-group">
        <label for="search">Search</label>
        <input id="search" [ngClass]="{'not-result': results.length === 0 && inputValue.value.length > 0 }"
               #inputValue type="text" (keyup)="search(inputValue.value)">

        <div class=" d-flex choose">
            <div class=" d-flex m-1 smallIcon" *ngFor="let oneUser of pickedUsers">
                <img class="card-img-left"
                     appProfileImage [userImage]="oneUser.image"
                     [userGender]="oneUser.gender" src="./assets/images/user1.png"
                     alt="" class="userImage">
                <div class=" ">
                    <p class=" ">{{oneUser.name}}</p>
                </div>
            </div>
        </div>

        <div class="d-flex">
            <div *ngFor="let user of results">
                <div class="container d-flex  usersContainer" (click)="chooseUser(user)">
                    <div class="card d-flex m-1 smallIcon" [ngClass]="{'active':!user.desabled}">
                        <img class="card-img-left"
                             appProfileImage [userImage]="user.image"
                             [userGender]="user.gender" src="./assets/images/user1.png"
                             alt="" class="userImage">
                        <div class=" ">
                            <p class=" ">{{user.name}}</p>
                            <ul>
                                <li>Surname: {{user.surname}}</li>
                                <li>age: {{user.age}}</li>
                                <li>Gender: {{user.gender}}</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

